
name: Auto Close Labeled Issues
on:
  issues:
    types: [opened, labeled]

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Close issue on 'completed' or 'wontfix' label
        if: contains(github.event.issue.labels.*.name, 'completed') || contains(github.event.issue.labels.*.name, 'wontfix')
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed'
            });
