
name: Auto Close Labeled Issues

on:
  issues:
    types: [labeled]

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
    - name: Close issue if labeled 'completed' or 'wontfix'
      if: github.event.label.name == 'completed' || github.event.label.name == 'wontfix'
      uses: actions/github-script@v6
      with:
        script: |
          github.rest.issues.update({
            owner: context.repo.owner,
            repo: context.repo.repo,
            issue_number: context.issue.number,
            state: 'closed'
          })
